body {
  margin: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.avatar {
  width: 250px;
  border-radius: 10px;
}

.card {
  padding: 70px;
  display: flex;
  justify-content: space-around;
  width: 650px;
  margin: 0 auto;
  text-align: center;
  color: #2b2839;
  border-bottom: 6px solid #33333367;
  background-color: #ddebf8;
  border-radius: 15px;
  box-shadow: #2b2839;
  transition: all 0.3s;
  font-size: 30px;
}

.card:hover {
  background-color: #b3ddff;
}

footer {
  text-align: end;
  margin-top: 150px;
}
